.App {
    text-align: center;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    color: rgb(139, 27, 237);
    background-image: linear-gradient(79deg, #7439db, #C66FBC 48%, #F7944D);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  @media screen and (min-width: 600px) {
    .auth-form-container {
      padding: 3rem;
      border: 1px solid white;
      background-color: rgb(255, 255, 254);
      border-radius: 15px;
      margin: 0.5rem;
    }
  }

  /* @media screen and (min-width: 600px) {
    .profile-form {
      padding: 3rem;
      border: 1px solid white;
      background-color: rgb(255, 255, 254);
      border-radius: 15px;
      margin: 0.5rem;
    }
  } */

  .auth-form-container , .login-form, .register-form{
    display:flex;
    flex-direction: column;  
  }

  .form-inputs{
    border:  1px solid grey;
    margin: 5px;
    

  }

  .profile-inputs{
    vertical-align: middle;
  }

  label {
    text-align: left;
    padding: 0.25rem 0;
  }

  input {
    /* margin: 1px; */
    padding: 1rem;
    border-radius: 10px;
  }

  .login-btn, .register-btn{
    margin: 1.5rem 0;
    border: none;
    background-color:rgb(201, 169, 248);
    padding: 10px;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor:pointer;
    color: white;
    font-weight: 500;
  }

  .link-btn{
    border: none;
    background:none ;
    color: rgb(191, 149, 255);
    text-decoration: underline;
    padding: 30px;
    border-radius: 10px;
    cursor:pointer;
  }

  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  input {
    padding: 10px;
    font-size: 1.2em;
  }

  .button{
    border: none;
    padding: 10px;
    /* background: rgb(19, 0, 128); */
    color:rgb(124, 57, 57);
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 10px;
  }
  
  
  .container{
    position: relative;
  }
  
  .register{
    position: fixed;
    padding:30px;
    box-shadow:0 2.8px 2.2px rgba(0, 0, 0, 0.034),0 6.7px 5.3px rgba(0, 0, 0, 0.048),0 12.5px 10px rgba(0, 0, 0, 0.06),0 22.3px 17.9px rgba(0, 0, 0, 0.072),0 41.8px 33.4px rgba(0, 0, 0, 0.086),0 100px 80px rgba(0, 0, 0, 0.12);
    top:35%;
    left:32%;
    display: flex;
    flex-direction: row;
  }
  .chat-box{
    box-shadow:0 2.8px 2.2px rgba(0, 0, 0, 0.034),0 6.7px 5.3px rgba(0, 0, 0, 0.048),0 12.5px 10px rgba(0, 0, 0, 0.06),0 22.3px 17.9px rgba(0, 0, 0, 0.072),0 41.8px 33.4px rgba(0, 0, 0, 0.086),0 100px 80px rgba(0, 0, 0, 0.12);
    margin:40px 50px;
    height: 600px;
    padding: 10px;
    display: flex;
    flex-direction: row;
  }
  
  .member-list{
    width: 20%;
  }
  
  .chat-content{
    width:80%;
    margin-left: 10px;
  }
  
  .chat-messages{
    height: 80%;
    border: 1px solid #000;
  }
  
  .send-message{
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  
  .input-message{
    width:90%;
    border-radius: 50px;
  }
  
  ul {
    padding: 0;
    list-style-type: none;
  }

  fieldset {
    display: block;
    color:white;
  }
  

  /* .member{
    padding: 10px;
    background: #eee;
    border:#000;
    cursor: pointer;
    margin: 5px 2px;
    box-shadow: 0 8px 8px -4px lightblue;
  } */
  /* .member.active{
    background: blueviolet;
    color:#fff;
  }
  .member:hover{
    background: grey;
    color:#fff;
  } */
  
  .avatar{
    background-color: cornflowerblue;
    padding: 3px 5px;
    border-radius: 5px;
    color:#fff;
  }
  .avatar.self{
    color:#000;
    background-color: greenyellow;
  }
  .message{
    padding:5px;
    width: auto;
    display: flex;
    flex-direction: row;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    margin: 5px 10px;
  }
  .message-data{
    padding:5px;
  }
  .message.self{
    justify-content: end;
  }

  .circular--landscape { 
    display: inline-block; 
    position: relative; width: 
    200px; height: 200px; 
    overflow: hidden; 
    border-radius: 50%; 
  } 

  .circular--landscape img {
     width: auto;
      height: 100%;
       margin-left: -50px; 
  }

  .circular--portrait {
    position: absolute; 
    top: 75px;
    left: 700px;
    border: 4px solid #555;
    background-color: rgb(255, 249, 242, 0.4) ;
    display: block;
    margin-left: auto;
    margin-right: auto;  width: 170px; height: 170px; overflow: hidden; border-radius: 50%;
  } 

  .circular--portrait img { 
    width: 100%; 
    height: auto; 
  }

  legend {
    color: white;
    background-color:rgb(139, 138, 138);
    padding: 5px 10px;
    border-radius: 0;
    border: 0;
    font-size: 14px;
    position: absolute; 
    top: 50px;
    /* text-align: center; */
    align-items: center;
  }

  .profile-header {
    /* background-color:rgb(139, 138, 138); */
    position: absolute; 
    top: 18px;
    left: 10px;
    /* padding-left: 40%;
    padding-right: 40%; */
    color: white;
    /* padding: 10px; */
  }

.closebtn {
  color: rgb(127, 3, 3);
  background-color: rgb(251, 58, 58);
  position: absolute;
  top: 20px;
  right: 13px;
  font-size:12px;
  border-radius: 50%;
  border: 1px solid rgb(127, 3, 3);
  font-weight: 700;
}

  

.profile-inputs{
  flex-direction: column;
  position: absolute; 
  top: 270px;
  left: 610px;
  color: white;
  font-size: large;
  /* text-align: center; */
  /* margin: 15px; */
}
.update-profile-btn{
  margin: 1.5rem 0;
  border: none;
  background-color:rgb(201, 169, 248);
  padding: 10px;
  border-radius: 10px;
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor:pointer;
  color: white;
  /* font-weight: 500; */
}

ul[title]::before {
  content: attr(title);
  display: block;
  font-size: large;
  /* font-weight: bold; */
  color: white;
  padding: 4px;
}

ul{
  overflow-y: auto;
  height: 450px;
}

.container{
  display: flex;
  /* background-color: white; */
  padding: 50px;
  border-radius: 10px;
}

li { 
  margin: 3px;
  /* vertical-align: middle; */
  display: flex;
}

.messages{
  color:white;
  /* background-color: rgb(209, 209, 209); */
  padding: 5px;
  border-radius: 5px;
  /* margin:10px;
  width: 280px;
  height: 500px; */
  /* position:absolute;
  overflow-y:scroll; */
}

.messages-container{
  /* background-color:white ; */
  width: 600px;
  height: 700px;
}

.message-li{
  background-color: rgb(190, 190, 190);
  border-radius: 10px;
  padding: 5px; 
  margin:5px;
  vertical-align: middle;
}

.send-btn{
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  background-color:rgb(100, 198, 85);
  color: #fff;
  border: none;
  
}

.text-in{
  border-radius: 5px;
  position:center;
  border: none;
}

.profile-btn{
  padding:5px;
  display: block;
  border-radius: 10px;
  border:none;
  color:white;
  background-color: rgb(132, 132, 132);
  margin-left: 100px;

}

.profile-btn:hover{
  background-color: #555;
}

.user-li{
  background-color: rgb(201, 169, 248);
  border:none;
  border-radius: 5px;
  color:white;
  cursor: pointer;
}

.user-li:hover{
  background-color:rgb(180, 131, 254) ;
}



/* .profile-btn{
  background-image:"ChatApp-Client/public/profile-img.jpeg" ;
} */





  
  
